<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bibliothqueenligne">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.BibliothèqueEnLigne"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".connexion1"
            android:exported="true" >

        </activity>
        <activity
            android:name=".reserverlelivre"
            android:exported="true" />
        <activity
            android:name=".operationetudiant"
            android:exported="true" />
        <activity
            android:name=".retirerreservation"
            android:exported="true" />
        <activity
            android:name=".ajouterlivre"
            android:exported="true" />
        <activity
            android:name=".retirerlivre"
            android:exported="true" />
        <activity
            android:name=".ajouterreservation1"
            android:exported="true" />
        <activity
            android:name=".ajouterreservation2"
            android:exported="true" />
        <activity
            android:name=".retireretudiant1"
            android:exported="true" />
        <activity
            android:name=".ajouteretudiant"
            android:exported="true" />
        <activity
            android:name=".connexion"
            android:exported="true">

        </activity>
        <activity
            android:name=".inscription2"
            android:exported="true" />
        <activity
            android:name=".operationprof"
            android:exported="true"></activity>
        <activity
            android:name=".choixetudiant"
            android:exported="true"></activity>
        <activity
            android:name=".choixprof"
            android:exported="true"></activity>
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>